h1 {
  color: red;
}

p {
  color: gray;
}

h2 {
  color: green;
  text-align: center;
  font-size: 40px;
}

/* Classes e ids */
.p-texto {
  color: lightblue;
  font-size: 20px;
}

.nome {
  color: brown;
}
.hexa {
  color: #6a40c4;
}

.rgba {
  color: rgba(17, 197, 214, .32);
  font-size: 40px;
}

#titulo-app {
  color: purple;
  font-size: 25px;
}

/* Backgrounds */
.div-background {
  background-image: url('https://www.w3schools.com/css/img_lights.jpg');
  background-color: lightgray;
  height: 300px;
  width: 400px;
}

.titulo-background {
  color: #FFF;
  text-align: center;
  padding-top: 130px;
}

/* Fontes */
.family {
  color: black;
  font-family: 'times new roman', sans-serif;
  font-size: 30px;
}
.family.serif {
  font-family: serif;
}
.family.sans-serif {
  font-family: 'arial', sans-serif;
}
.family.monospace {
  font-family: 'courier new', monospace;
}

.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}

.bold {
  font-weight: bold;
}

.variant {
  font-variant: small-caps;
}

/* Box Model */

body {
  margin: 0px;
}

.boxmodel {
  width: 200px;
  height: 200px;
  background-color: red;

  /* geral 
  padding: 20px;*/

  /* específico
  padding-top: 30pxpx;
  padding-left: 10px;
  padding-right: 20pxpx;
  padding-bottom: 5px;*/

  /* específico agrupado
  padding: 30px 20px 5px 10px;*/

  /* específico agrupado 3 medidas - top, right-left, bottom */
  padding: 30px 20px 5px;
  
  /* específico agrupado 2 medidas - top-bottom, right-left
  padding: 30px 20px;*/

  /* bordas */
  border: 5px solid #000;
  border-width: 5px 10px 5px 10px;
  border-left-style: dashed; 
  border-right-style: double;
  border-radius: 20px;

  /* margin */
  margin: 50px;

  /* display: none; - esconde os elementos */

  /*display: inline-block; - transforma varios elementos um ao lado do outro */
  display: block; - um embaixo do outro

}

.paragrago-box {
  color: #000;
  margin: 0px;
}


/* POSITIONS
- Static - Flow no HTML, não é alterado por top, left, right, bottom
- Relative - Flow no HTML, e é alterada por top, left, right, botto
- Absolute - Posiciona em qualquer lugar, e ela respeita o elemento do antecessor que esteja com relative
- Fixed - Posiciona em ququer lugar da tela, mesmo com scroll
- Sticky - Fica fixo quando chega em uma posição determinada
*/

.div-position {
  width: 500px;
  height: 500px;
  background-color: red;
  border-bottom: 5px solid #000;

}

.static {
  position: static;
}

.relative {
  position: relative;
  background-color: blue;
  top: 100px;
  left: 50px;
}

.absolute{
  position: absolute;
  background-color: purple;
  right: 0;
  top
}

.mini-div{
  height: 100px;
  width: 100px;
  top: 50px;
  left: 100px;
}

.fixed {
  position: fixed;
  height: 200px;
  background-color: yellow;
  bottom: 0;
  right: 0;

}

.stick {
  position: sticky;
  background-color: gray;
  top: 0px;

}





















